*{
    margin: 0;
    padding: 0;
}

.header
{
    height:30vh;
    background-image: url("bg.jpg");
    background-size:100% ;
    background-color: aqua;
}

.container
{
    display: flex;
    flex-direction: row;
}

.elem1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.71);
    
}
a
{
    color: inherit;
}
.elem2
{
    display: flex;
    /* justify-content: center; */
    /* flex-direction: row; */
    justify-content: center;
    width: 70vw;
    height: 70vh;
    background-color: rgb(191, 227, 228);
}
